.loadPic{
    margin-bottom: 16rem;
    &:hover{
       .input-text{
            color: lighten($greenLight, 5%)
        }
        
    }
}
.input-file{
    display: none;
}
.input-text{
    color: $greenLight;
    cursor: pointer;
}
.icon-loadPic{
    width: 3.5rem;
    height: 3.4rem;
   // background: svg('~img/icons/load_pic.svg', '#000') center center no-repeat;    
}
.button-works{
    background-color: $greenLight;
}